# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store
desktop.ini

# Large data files (too big for GitHub)
data/*.csv

# Large model files
model/*.pkl

# Environment variables
.env
